<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id="to-home" href="/">Five-Thirty-Scraped</a>

    <div class="navbar" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/saved" id="saved-articles">Saved Articles <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="scraper-div">
  <button id="scrape">Scrape More Articles</button>
</div>


<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <ul id="articles-list">
          {{#each articles}}
          <li data-id="{{this._id}}" class="list-group-item">
            <a href="{{this.link}}">{{this.title}}</a>
            <button type="button" href="/save/{{this._id}}" class="btn btn-outline-success btn-sm" id="save-button" data-id="{{this._id}}">Save</button>
            <button type="button" href="/delete/{{this._id}}" class="btn btn-outline-danger btn-sm" id="del-button" data-id="{{this._id}}">Delete</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>